html,
body {
	margin: 0;
	padding: 0;
	background: linear-gradient(
		135deg,
		var(--joy-palette-neutral-white),
		var(--joy-palette-neutral-lightest)
	);
	min-height: 100vh;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: var(--joy-palette-neutral-lightest);
}
::-webkit-scrollbar-thumb {
	background: var(--joy-palette-neutral-baseLighter);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--joy-palette-neutral-baseDarker);
}
